@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About Me";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<article>
    <p>
        I am web and mobile app developer with speciality in the LAMP stack and Javascript with 
        some experience in JQuery,  Java structs, Java Spring, ASP.NET 2.0, ASP.NET MVC 5,
        Ruby on Rails, Angular.js, and Node.js. My websites are made to work with websites from
        IE 9-11, Mozilla Firefox, Google Chrome, and Opera. I have also worked to make my websites
        work on Mobile Chrome, Mobile Safari, Mobile Opera, Mobile IE 10-11, and AOSP browser. I
        have made websites working at UC Davis Internship and Career Center, UC Davis Computer
        Science Club, NAESC Western Regional Conference in 2009, UC Davis Engineering Joint
        Council, Microsoft, and United Online.
    </p>
    <div class="list">
        <h3>Front End Development</h3>
        <div class="listItem">
            <img src="~/Images/css3-logo.png" />
            <div class="caption">CSS 3</div>
        </div>
        <div class="listItem">
            <img src="~/Images/html5-logo.png" />
            <div class="caption">HTML 5</div>
        </div>
        <div class="listItem">
            <img src="~/Images/javascript-logo.png" />
            <div class="caption">Javascript</div>
        </div>
    </div>
    <div class="list">
        <h3>Back End Development</h3>
    </div>
</article>