@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contacts";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>

<section class="contact">
    <p>
        <span class="label">Phone:</span>
        <span>415.999.3880</span>
    </p>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:seabass.ng@gmail.com">seabass.ng@gmail.com</a></span>
    </p>
    <p>
        <span class="label">LinkedIn</span>
        <span><a href="http://linkedin.com/in/sebastian.ng">Sebastian Ng</a></span>
    </p>
</section>