@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "LaTeX Notes - Math 135B - Stoichastic Process";
}

<h2>@ViewBag.Title</h2>
<p>
    These are notes from Math 135B (Stoichastic Process) in Spring Quarter of 2009 with Professor Janko Gravner.
    The notes were made using <a href="http://www.latex-project.org/">LaTeX</a>.
</p>
<ul>
    <li>
        All the tex files are available on <a href="https://github.com/SeabassNg/Math_135B_Notes">Github</a>.
    </li>
    <li>
        The final pdf is available <a href="/Notes/notes_MAT_135B.pdf">here</a>.
    </li>
</ul>