@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "LaTeX Notes - Math 115B - Number Theory 2";
}

<h2>@ViewBag.Title</h2>
<p>
    These are notes from Math 115B (Number Theory 2) in Winter Quarter of 2009 with Professor Greg Kuperberg.
    The notes were made using <a href="http://www.latex-project.org/">LaTeX</a>.
</p>
<ul>
    <li>
        All the tex files are available on <a href="https://github.com/SeabassNg/Math_115B_Notes">Github</a>.
    </li>
    <li>
        The final pdf is available <a href="/Notes/notes_MAT_115B.pdf">here</a>.
    </li>
</ul>