@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    I am a web and mobile app developer working mostly with the
    LAMP (<strong>L</strong>inux, <strong>A</strong>pache, <strong>M</strong>ySQL, 
    <strong>P</strong>HP) stack and javascript with some experience with other
    technologies such as Java Spring, Java Struts, Ruby on Rails, ASP.NET 2.0,
    ASP MVC 5, Angular.js, and Node.js. Websites I have worked on should work with
    all major desktop browsers and on recent projects, should also work with mobile
    browsers such as Mobile Safari, Mobile Chrome, Mobile IE 10-11, and AOSP browser.
    I have worked for organizations and companies such as
    <ul>
        <li>UC Davis Internship and Career Center</li>
        <li>UC Davis Computer Science Club 2007-2009</li>
        <li>UC Davis Engineering Joint Council 2008-2009</li>
        <li>NAESC Western Regional Conference 2009</li>
        <li>Microsoft</li>
        <li>United Online</li>
    </ul>
</p>

<p>
    I am currently looking for new opportunties in the web and mobile app 
    development. If you interested, here is my 
    <a href="http://www.linkedin.com/in/sebastianng">LinkedIn Profile</a>
    and my <a href="mailto:sebass.ng@gmail.com">email</a>
</p>