@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Email:</strong> <a href="mailto:seabass.ng@gmail.com">seabass.ng@gmail.com</a>
    <strong>LinkedIn:</strong> <a href="http://http://www.linkedin.com/in/sebastianng">Profile</a>
</address>