@{
    ViewBag.Title = "Portfolio";
}

<div class="row">
    <h2>Webpage projects</h2>
    <ul class="list-inline gallery-list-modal">
        <li>
            <a href="/Projects/PhotoCollage">
                <div class="galleryThumbnails" style="background-image: url('/Images/Index/PhotoCollage.png')"></div>
                <span>Photo Collage Feature</span>
            </a>
        </li>
    </ul>
    @*<h2>Math Notes with LaTeX</h2>*@
</div>