@{
    ViewBag.Title = "Portfolio";
}

<div class="row">
    <h2>Webpage projects</h2>
    <ul class="list-inline gallery-list-modal">
        <li>
            <a href="/Projects/PhotoCollage">
                <div class="galleryThumbnails" style="background-image: url('/Images/Index/PhotoCollage.png')"></div>
                <span>Photo Collage Feature</span>
            </a>
        </li>
    </ul>
    <h2>Math Notes with LaTeX</h2>
    <ul class="list-inline gallery-list-modal">
        <li>
            <a href="/Projects/Math115A">
                <div class="galleryThumbnails" style="background-image:url('/Images/Index/115A.png')"></div>
                <span>Math 115A</span>
            </a>
        </li>
        <li>
            <a href="/Projects/Math115B">
                <div class="galleryThumbnails" style="background-image:url('/Images/Index/115B.png')"></div>
                <span>Math 115B</span>
            </a>
        </li>
        <li>
            <a href="/Projects/Math125A">
                <div class="galleryThumbnails" style="background-image:url('/Images/Index/125A.png')"></div>
                <span>Math 125A</span>
            </a>
        </li>
        <li>
            <a href="/Projects/Math135A">
                <div class="galleryThumbnails" style="background-image:url('/Images/Index/135A.png')"></div>
                <span>Math 135A</span>
            </a>
        </li>
        <li>
            <a href="/Projects/Math135B">
                <div class="galleryThumbnails" style="background-image:url('/Images/Index/135B.png')"></div>
                <span>Math 135B</span>
            </a>
        </li>
    </ul>
</div>